body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  /*width: 15%;*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:90px; /* 100%=16px=1em*/ /*rem: root em*/
  color: #66BFBF;
  /*line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

span {
  text-decoration:underline;
}

.topdiv {
  background-color: #dff4f3;
  position: relative;
  padding-top:100px;
}

.top-cloud {
  position:absolute;
  right:300px;
  top:50px;
}

.profile-pic {
  margin-top:50px;
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:100%;
}

.skill-pic {

  border-radius:10%;
  width:25%;
  float:left;
  padding:0 15px;
}

.pack-pic{
  border-radius:10%;
  width:25%;
  float:right;
  padding:0 15px;
}

.bot-cloud {
  position: absolute;
  left:300px;
  bottom:300px;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height:2;
}

/*
.skill-description {
  clear: left;
}

.skill2-description {
  clear: right;
}
*/
